<?xml version="1.0"?>
<launch>
  <arg name="LOG_LEVEL" default="error"/>
  <arg name="DEBUG" default="false"/>

  <!-- Orocos target (gnulinux, xenomai, etc) -->
  <arg name="OROCOS_TARGET" default="$(optenv OROCOS_TARGET)"/>
  <!-- Path to look for dynamically-loaded plugins and components (something like /lib/orocos) -->
  <arg name="RTT_COMPONENT_PATH" default="$(env RTT_COMPONENT_PATH)"/>

  <node
    name="velma_controller"
    pkg="rtt_ros" type="deployer"
    args="--DeployerName lwr_controller -l $(arg LOG_LEVEL) -s $(find velma_controller)/config/velma.ops --" output="screen">
    <env name="OROCOS_TARGET" value="$(arg OROCOS_TARGET)"/>
    <env name="RTT_COMPONENT_PATH" value="$(arg RTT_COMPONENT_PATH)"/>
  </node>

  <group ns="velma_controller">
    <rosparam>
      EC:
        names: [torso]
        torso:
          ifname: rteth0
          mode: current
      FRIl:
        fri_port: 49938
      FRIr:
        fri_port: 49948
      LWRlDiag:
        prefix: left_arm_
      LWRrDiag:
        prefix: right_arm_
      Ps:
        outputs: [2, 2]
      Vs:
        outputs: [2, 2]
      Ts:
        outputs: [2, 7, 7]
      JntLimit:
        upper_limit: [100.0, 100.0, 2.96, 2.09, 2.96, 2.09, 2.96, 2.09, 2.96, 2.96, 2.09, 2.96, 2.09, 2.96, 2.09, 2.96]
        lower_limit: [-100.0, -100.0, -2.96, -2.09, -2.96, -2.09, -2.96, -2.09, -2.96, -2.96, -2.09, -2.96, -2.09, -2.96, -2.09, -2.96]
        limit_range: [0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26]
        max_trq: [10.0, 10.0, 50.0, 50.0, 50.0, 50.0, 50.0, 30.0, 30.0, 50.0, 50.0, 50.0, 50.0, 50.0, 30.0, 30.0]
      JntPub:
        joint_names: [torso_0_joint, torso_1_joint, right_arm_0_joint, right_arm_1_joint, right_arm_2_joint, right_arm_3_joint, right_arm_4_joint, right_arm_5_joint, right_arm_6_joint, left_arm_0_joint, left_arm_1_joint, left_arm_2_joint, left_arm_3_joint, left_arm_4_joint, left_arm_5_joint, left_arm_6_joint]
      PT:
        input_frames: 2
      ToolIntRight:
        activate_pose_init: true
        init_setpoint:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
      ToolIntLeft:
        activate_pose_init: true
        init_setpoint:
          orientation:
            w: 1.0
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.0
      TfPub:
        frame_ids: [right_arm_7_link, left_arm_7_link]
        child_frame_ids: [right_arm_tool, left_arm_tool]
    </rosparam>
  </group>
</launch>
